:root {
  --body: #f5f6ff;
  --page: #f7f6fe;
  --primary: #6e74b6;
  --text-color: red;
  --input-color: #f7f6fe;
  --input-text-color: #6e74b6;
  --icon-sem-parar: #4a4a4a;
  --error: #ef5540;
  --success: #5b9e0f;
  --warning: #efc02d;
}
