:root {
  --body: #fff;
  --page: #f7f6fe;
  --primary: #007749;
  --text-color: #4a4a4a;
  --input-color: #f7f6fe;
  --input-text-color: #6e74b6;
  --icon-sem-parar: #4a4a4a;
  --error: #ef5540;
  --success: #5b9e0f;
  --warning: #efc02d;
  --border: #bcbcbc;

  --placebo: #f5f5f5; // TODO: remover

  --jamaica-1: #007749;
  --jamaica-2: #ffb81c;
  --jamaica-3: #000000;
}
