:root {
  --size-xx-small: 1px;
  --size-x-small: 4px;
  --size-small: 8px;
  --size-medium: 16px;
  --size-large: 24px;
  --size-x-large: 32px;
  --size-xx-large: 40px;

  --header-size: 64px;
  --page-max-width: 1360px;

  --icon-size-small: 16px;
  --icon-size-medium: 20px;
  --button-size-medium: 36px;
  --input-size-medium: 40px;
  --scroll-size: 4px;
}
