@font-face {
  font-family: "ubuntu-bold";
  src: url("../../../assets/font/ubuntu-bold.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-light";
  src: url("../../../assets/font/ubuntu-light.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-medium";
  src: url("../../../assets/font/ubuntu-medium.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-regular";
  src: url("../../../assets/font/ubuntu-regular.ttf") format("truetype");
}
